.containerWrap {
  background-color: rgb(244, 244, 244);
}

.container {
  border: 1px solid lightgray;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  background-color: white;
  border-radius: 5px;
}

.logoWrap {
  font-family: "Lobster", cursive;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-bottom: 20px;
}

.footerWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border: 1px solid rgb(215, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.loginInput {
  width: 100%;
  margin: 10px;
  border: none;
  font-size: 16px;
}

.loginInput:focus {
  outline: none;
}

.loginWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.loginBtn {
  background-color: rgb(71, 149, 245);
  width: 100%;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}
.footerWrap {
  padding-top: 70px;
  padding-bottom: 10px;
  color: rgb(75, 75, 243);
}
