body {
  padding: 10px;
  text-align: center;
  background-color: rgb(237, 235, 235);
}
#outline {
  margin-top: 100px;
  background-color: white;
  display: inline-block;
  align-items: center;
}
#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 400px;
  padding: 10px;
  margin-top: 0px;
  border: solid 1px;
  border-radius: 5px;
  border-color: gray;
}

#title {
  font-family: "Black Han Sans", sans-serif;
  font-family: "Lobster", cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.id {
  width: 300px;
  padding: 10px;
  opacity: 0.8;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-color: gray;
  border-radius: 5px;
}
.password {
  width: 300px;
  padding: 10px;
  opacity: 0.8;
  border: 1px solid transparent;
  border-color: gray;
  border-radius: 5px;
}
.btn {
  padding: 10px;
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  border: 1px solid transparent;
  color: white;
  opacity: 0.3;
}

.buttonLogin {
  background-color: #b2dffc;
  color: white;
  width: 268px;
  height: 30px;
  margin: 8px 40px 8px 40px;
  border: none;
  border-radius: 5px;
}

.buttonActivate {
  background-color: #0095f6;
}

a {
  margin-top: 80px;
  text-decoration: none;
  color: rgba(var(--fe0, 0, 55, 107), 1);
}
