body {
  box-sizing: border-box;
  background-color: #fafafa;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  z-index: 1;
}

.title {
  margin-left: 20px;
  font-size: 2em;
  font-family: 'Lobster', cursive;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 268px;
  height: 36px;
  margin-left: 160px;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #efeeef;
}

.search-container {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  height: inherit;
}

.search-container .search-icon {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  opacity: 60%;
}

.delete-icon {
  position: relative;
  right: 0;
  width: 15px;
  height: 15px;
  opacity: 50%;
  cursor: pointer;
}

#search {
  position: relative;
  width: 100%;
  height: 95%;
  border: none;
  background-color: #efeeef;
  font-weight: 200;
  outline: none;
}

/* search toggle */
#search-list-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 61px;
  margin-left: -5em;
  padding: 7px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#search-list-container:after {
  content: '';
  position: absolute;
  left: 45%;
  bottom: 97%;
  width: 0px;
  height: 0px;
  border-color: transparent transparent #fff transparent;
  border-width: 20px;
  border-style: solid;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  z-index: -1;
}

.search-list {
  display: flex;
  justify-content: flex-start;
  width: 350px;
  height: 50px;
  padding: 5px 3px;
}

.search-list:last-child {
  right: 10px;
}

.search-user-profile {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.nav {
  margin-right: 20px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  margin-right: 20px;
}
.nav ul li:last-child {
  margin-right: 0;
}

/* profile-toggle */
#profile-menu {
  position: absolute;
  right: 0.8em;
  top: 4em;
  width: 15em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 30px 1px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

#profile-menu:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 97%;
  width: 0px;
  height: 0px;
  border-color: transparent transparent #fff transparent;
  border-width: 20px;
  border-style: solid;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  z-index: -1;
}

.menu-list {
  display: inline-block;
  margin: 2px 10px;
}

.menu-list:last-child {
  border-top: 1px solid #dbdbdb;
  width: 100%;
  padding: 12px 0;
  margin-left: -1px;
}
.menu-list:last-child a {
  margin-left: 20px;
}
/* //header */

/* main */
.main-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}

.feed {
  width: 472px;
  margin-bottom: 12px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  overflow: hidden;
}

/* feed id container */
.feed-id {
  height: 55px;
  padding: 0 15px;
  background-color: #fff;
}

.profile-cur {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url('../img/profile.png');
  background-repeat: no-repeat;
  background-position: 15%;
}

/* feed img container */
.feed-img {
  width: 480px;
  overflow: hidden;
}

.feed-img > img {
  height: 480px;
}

.feed-img-menu {
  padding: 5px 10px;
}

.img-menu-group li img {
  margin-right: 16px;
}

/* feed content container */
.feed-cont-container {
  padding: 0 10px;
}

.feed-cont {
  display: flex;
  align-items: center;
}

.feed-cont-com {
  display: inline-block;
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.new-com {
  position: relative;
}

.heart {
  display: inline-block;
  position: absolute;
  right: 20px;
  background-image: url('../img/heart_empty.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px, 15px;
}

.heart:hover {
  opacity: 60%;
}

.like-heart {
  display: inline-block;
  position: absolute;
  right: 20px;
  background-image: url('../img/heart_full.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px, 15px;
}

.x-icon {
  display: inline-block;
  position: absolute;
  right: 0;
  background-image: url('../img/x_icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px, 11px;
  opacity: 40%;
}

.x-icon:hover {
  opacity: 100%;
}

.feed-cont-time {
  font-size: 10px;
}

/* feed comment container */
.feed-com {
  height: 35px;
  padding: 8px;
  border-top: 0.5px solid #dbdbdb;
}

.feed-com-form {
  flex-basis: 95%;
}

.comment-input {
  width: 100%;
  border: none;
  outline: none;
}

.smile-icon {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  background-image: url('../img/smile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px, 23px;
  border-radius: 50%;
}

.comment-btn {
  flex-basis: 10%;
  border: none;
  background-color: #fff;
  color: #1c95f6;
  font-weight: 700;
}

.comment-btn:disabled {
  flex-basis: 10%;
  border: none;
  background-color: #fff;
  color: rgba(0, 149, 246, 0.3);
  font-weight: 700;
  cursor: not-allowed;
}
